body {
    font-family: Verdana, Helvetica, sans-serif;
    background-color: #FFFFCC;
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
	height: 100%; 
	max-height: 100%; 
}

#framecontent{
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 80px; /*Height of frame div*/
	overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
	background-color: #39579A;
	color: white;
}


#maincontent{
	position: fixed; 
	top: 80px; /*Set top value to HeightOfFrameDiv*/
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto; 
	background: #fff;
}

.innertube{
	margin: 15px; /*Margins for inner DIV inside each DIV (to provide padding)*/
}

* html body{ /*IE6 hack*/
	padding: 130px 0 0 0; /*Set value to (HeightOfFrameDiv 0 0 0)*/
}

* html #maincontent{ /*IE6 hack*/
	height: 100%; 
	width: 100%; 
}


#userprofile {
	align: float; 
	top: 10px; 
	right: 60px;
	position: absolute; 
	color: #C98387;
	font-size: 12px;
}

#logout {
/*	align: float; 
	top: 10px; 
	position: absolute; 
	right: 20px; */
	text-decoration: none;
	color: #7972B8;
	font-size: 12px;
}

#report {
	border: 1px solid;
	border-radius: 10px;
	background-color: #D4D4D4;	
}

td.report {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 12px;
	padding: 6px 15px 15px 3px; /*top padding is 6px, bottom padding is 4px*/
}

td.name {
	width: 200px;
}

td.number {
	text-align: right;
	width: 50px;	
}


.underlinemenu {
	position: absolute;
	top: 40px;
	left: 250px;
	font-weight: bold;
}

.underlinemenu ul {
	padding: 6px 0 7px 0; /*6px should equal top padding of "ul li a" below, 7px should equal bottom padding + bottom border of "ul li a" below*/
	margin: 0;
	text-align: right; //set value to "left", "center", or "right"*/
}

.underlinemenu ul li {
	display: inline;
}

.underlinemenu ul li a {
	color: #C98387;
	padding: 6px 3px 4px 3px; /*top padding is 6px, bottom padding is 4px*/
	margin-right: 20px; /*spacing between each menu link*/
	text-decoration: none;
	border-bottom: 3px solid gray; /*bottom border is 3px*/
}

.underlinemenu ul li a:hover, .underlinemenu ul li a.selected {
	border-bottom-color: white;
}

